page-tren {
    
        
          ion-card {
            position: relative;
            text-align: center;
            height: 15ex;
          }
        
          .card-title1 {
            position: absolute;
            top: 10%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #000000;
          }
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: #000000;
          }

          
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 60%;
            width: 100%;
            color: #000000;


        }

        .card-subtitle1 {
            font-size: 1.0em;
            position: absolute;
            top: 75%;
            width: 100%;
            color: #000000;


        }


    
}
