page-tren {
    
        
          ion-card {
            position: relative;
            text-align: center;
            height: 25ex;
            color: #000000;
            border-radius: 5px;
            padding:5px
          }
        
          .card-title1 {
            position: relative;
            
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #000000;
          }
          .card-title {
            position: relative;

            font-size: 1.5em;
            width: 100%;
            font-weight: bold;
            color: #000000;
          }

          
          .card-subtitle {
            font-size: 1.0em;
            position: relative;

            width: 100%;
            color: #000000;


        }

        .card-subtitle1 {
            font-size: 1.0em;
            position: relative;

            width: 100%;
            color: #000000;


        }


    
}
